<script>
	$('#menu1').css('opacity', '1');
</script>

<a id="text"></a>
<div class="sub-container">
	<h1 class="main-heading">Zapraszam Cię do Domku Młodości w Augustowie!</h2>
	<br/>
	<p><span><strong>„Domek Młodości” to uroczy, komfortowy, całoroczny domek</strong></span> <span>wypoczynkowy położony w spokojnej dzielnicy blisko centrum uzdrowiskowego miasteczka Augustowa z przebogatą ofertą turystyczno-krajoznawczą.</span></p>
	<p><span><strong>Warto tu zobaczyć</strong></span> <span >cud XIX w. Kanał Augustowski,&nbsp; wybrać się do Puszczy Augustowskiej by dotknąć dziewiczej przyrody i pooddychać świeżym powietrzem, popływać kajakiem w Dolinie Rospudy i w czterech przepięknych augustowskich jeziorach.</span></p>
	<p><span><strong>Obiekt jest idealny do pobytu dla 6 osób</strong></span>, <span >rodziny lub grupy przyjaciół, najlepiej w cyklu tygodniowym. Usytuowanie zapewnia spokój, intymność i odpoczynek w domu i dużym, zielonym ogrodzie.</span></p>
	<p><span style="line-height: 1.35em;">Dom składa się z 3 pokoi, w tym dużego pokoju z telewizorem, dobrze wyposażonej kuchni z jadalnią, łazienki z prysznicem i oddzielnej toalety oraz przestronnych miejsc do posiłków przed domem i w zaciszu ogrodu pod rozłożystymi jabłoniami.</span></p>
	<p align="center"><span><strong>&nbsp;W domku znajduje się:</strong></span></p>
	<ul>
	<li><span >3 sypialnie (jedna z podwójnym łóżkiem, druga z dwoma pojedynczymi, trzecia z sofą i łóżkiem pojedynczym), dla dziecka słodkie łóżeczko 150cm</span></li>
	<li><span >Dobrze wyposażoną kuchnię z jadalnią (lodówka, płyta elektryczna, kuchenka mikrofalowa, czajnik elektryczny, naczynia, garnki, ręczniki)</span></li>
	<li><span >Piec kaflowy z możliwością pieczenia w duchówce w zimowe wieczory</span></li>
	<li><span >Łazienka z prysznicem i niezależnie od liczby kąpieli stale ciepłą wodą,</span></li>
	<li><span >Oddzielna toaleta,</span></li>
	<li><span >Suszarka do włosów</span></li>
	<li><span >Żelazko i deska do prasowania</span></li>
	<li><span >Pościel + ręczniki</span></li>
	<li><span >Telewizor i radio</span></li>
	<li><span >Bezprzewodowy dostęp do internetu</span></li>
	</ul>
	<p align="center"><span><strong>&nbsp;Na zewnątrz:</strong></span></p>
	<ul>
	<li><span >Posesja 2700 m2 ogrodzona, z bardzo dużym ogrodem, miejscem na ognisko, przestrzenią do gier sportowych, miejscem do gry w kosza</span></li>
	<li><span >Parking dla trzech samochodów</span></li>
	<li><span >Osobna brama wjazdowa, tylko dla gości</span></li>
	<li><span >Duży ogród 1500m<sup>2</sup></span></li>
	<li><span >Miejsce do biesiadowania przed domem</span></li>
	<li><span >Miejsce do biesiadowania w ogrodzie</span></li>
	<li><span >Miejsce na ognisko</span></li>
	<li><span >Wygodne, drewniane meble ogrodowe z parasolem</span></li>
	<li><span >Hamak i leżaki do opalania</span></li>
	<li><span >Możliwość wynajęcia rowerów, wędrówki piesze.</span></li>
	<li><span >Dla dzieci: małe krzesełka, zabawki, ogrodzony teren do biegania i zabawy, a w sezonie owoce bez konserwantów.</span></li>
	<li><span >Zielone otoczenie domku i duża przestrzeń - do wyłącznej dyspozycji&nbsp;biegających dzieci, młodzieży i biesiadujących dorosłych.</span></li>
	<li><span >5 min pieszo do sklepu (Lidl i Biedronka)</span></li>
	<li><span >5 min pieszo do centrum miasta</span></li>
	</ul>
	<p align="center"><strong><span>&nbsp;Dodatkowe informacje:</span></strong></p>
	<ul>
	<li><span >Możliwy wynajem na dłuższy okres- atrakcyjne rabaty</span></li>
	<li><span >Otoczenie łagodne dla alergików</span></li>
	<li><span >Seniorzy – obiekt przystosowany</span></li>
	<li><span >Dzieci mile widziane</span></li>
	<li><span >Możliwość wystawienia faktury (8%VAT)</span></li>
	<li><span >Dom dla niepalących (dbamy, by pachniało tylko drewnem)</span></li>
	</ul>
	<p align="center">&nbsp;<span><strong style="line-height: 1.35em;">Augustów zapewnia:</strong></span><span style="line-height: 1.35em;"> wynajmowanie łodzi, kajaków, rowerów wodnych, jazdę konną, grę w golfa, narty wodne, wycieczki do Wilna, Druskiennik, spacery po Puszczy Augustowskiej, liczne szlaki piesze, rowerowe i kajakowe, spływy tratwą lub kajakiem, rejsy katamaranami i gondolami oraz statkiem pasażerskim, cykliczne imprezy.</span></p>
	<p align="center">&nbsp;<strong style="line-height: 1.35em;"><em>Dzwoń, rezerwuj, czekamy na Ciebie!</em></strong></p>

	<img id="menu4-btn" src="/img/icon/btn.png" class="company-btn">
	<p align="center" style="opacity:.3;"><span></span>Tel.:<span><b>504&nbsp;123 644&nbsp;</b></span>E-mail:<span><b>Prawdzik@domekmlodosci.pl</b></span></p>	
</div>