<script>
	$('#menu3').css('opacity', '1');
</script>

<a id="text"></a>
<div class="sub-container">
	<h1 class="main-heading">Dojazd</h1><br/>
	<iframe style="margin-left: -25px;" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=ul.+M%C5%82odo%C5%9Bci+23+16-300+August%C3%B3w&amp;sll=52.025459,19.204102&amp;sspn=10.160415,19.753418&amp;ie=UTF8&amp;hq=&amp;hnear=M%C5%82odo%C5%9Bci+23,+August%C3%B3w,+augustowski,+Podlaskie&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=53.843328,22.968651&amp;output=embed" frameborder="0" height="550" width="480"></iframe><br/>
	<p align="center"><strong style=" line-height: 1.35em;"><em>Dzwoń, rezerwuj, czekamy na Ciebie!</em></strong></p>
	<img id="menu4-btn" src="/img/icon/btn.png" class="company-btn">
	<p align="center" style="opacity:.3;"><span></span>Tel.:<span><b>504&nbsp;123 644&nbsp;</b></span>E-mail:<span><b>Prawdzik@domekmlodosci.pl</b></span></p>
</div>