<script>
	$('#menu2').css('opacity', '1');
</script>

<a id="text"></a>
<div class="sub-container">
	<h1 class="main-heading"><%= @html.title.html_safe %></h1>
	<%= @html.html.html_safe %>
	<br/>
	<img id="menu4-btn" src="/img/icon/btn.png" class="company-btn">
	<br/>
	<p align="center" style="opacity:.3;"><span></span>Tel.:<span><b>504&nbsp;123 644&nbsp;</b></span>E-mail:<span><b>Prawdzik@domekmlodosci.pl</b></span></p>
</div>