<script>
	$('#menu2').css('opacity', '1');
</script>

<a id="text"></a>
<div class="sub-container">
	<h1 class="main-heading">Oferta Cenowa</h1><br/>
							<p><span><strong>Cena</strong></span></p>
	<p><span style=" line-height: 1.35em;">Cena uzależniona jest od terminu, długości pobytu, liczby osób. Korzystne rabaty, oferta dopasowana do możliwości Klienta! Cena za cały domek, doba od</span><b style=" line-height: 1.35em;"> 180zł - 350zł</b></p>
	<p><span style="line-height: 1.35em; "><b>Najkorzystniejsza cena przy 6-7 osobach i tygodniowym pobycie.</b> Aby zapewnić pełny komfort wypoczynku, domek wynajmujemy dla maksymalnie 7 osób.</span></p>
	<p><strong style=" line-height: 1.35em;">Jak dokonać rezerwacji?</strong></p>
	<p><span style=" line-height: 1.35em;">1) Skontaktuj sie z nami: </span><i style=" line-height: 1.35em;"><a href="mailto:Prawdzik@domekmlodosci.pl">Prawdzik@domekmlodosci.pl</a></i><span><i style="color: #ed1846; opacity: .8;"> tel. 504 123 644 </i></span></p>
	<p><span style=" line-height: 1.35em;">2) W terminie 3 dni wpłać 30% kwoty należnej (pozostała część płatna w dniu przyjazdu)</span>
	<span style=" line-height: 1.35em;"></span><span style=" line-height: 1.35em;">Nr. konta &nbsp; &nbsp; MBank &nbsp;&nbsp;</span><span style=" line-height: 1.35em;">16 1140 2004 0000 3302 3157 1908 &nbsp;</span></p>
	<p><strong><span style=" line-height: 1.35em;">Cena wynajmu domku zawiera:</strong></span></p>
	<ul>
	<li><span>koszty mediów (woda, energia),</span></li>
	<li><span>końcowe sprzątanie,</span></li>
	<li><span>korzystanie z grilla, parkingu,</span></li>
	<li><span>korzystanie z wyposażenia domku i tego co na zewnątrz, zgodnie z poniższym opisem</span></li>
	</ul>
	<p><strong style=" line-height: 1.35em;">W domku znajdują się:</strong></p>
	<ul>
	<li><span>3 sypialnie (jedna z podwójnym łóżkiem, druga z dwoma pojedynczymi, trzecia z sofą i łóżkiem pojedynczym), dla dziecka słodkie łóżeczko 150cm</span></li>
	<li><span>Dobrze wyposażoną kuchnię z jadalnią (lodówka, płyta elektryczna, kuchenka mikrofalowa, czajnik elektryczny, naczynia, garnki, ręczniki)</span></li>
	<li><span>Piec kaflowy z możliwością pieczenia w duchówce w zimowe wieczory</span></li>
	<li><span>Łazienka z prysznicem i niezależnie od liczby kąpieli stale ciepłą wodą,</span></li>
	<li><span>Oddzielna toaleta,</span></li>
	<li><span>Suszarka do włosów</span></li>
	<li><span>Żelazko i deska do prasowania</span></li>
	<li><span>Pościel + ręczniki</span></li>
	<li><span>Telewizor i radio</span></li>
	<li><span>Bezprzewodowy dostęp do internetu</span></li>
	</ul>
	<p><strong style=" line-height: 1.35em;">Na zewnątrz:</strong></p>
	<ul>
	<li><span>Posesja 2700 m2 ogrodzona, z bardzo dużym ogrodem, miejscem na ognisko, przestrzenią do gier sportowych, miejscem do gry w kosza</span></li>
	<li><span>Parking dla trzech samochodów</span></li>
	<li><span>Osobna brama wjazdowa, tylko dla gości</span></li>
	<li><span>Duży ogród 1500m<sup>2</sup></span></li>
	<li><span>Miejsce do biesiadowania przed domem</span></li>
	<li><span>Miejsce do biesiadowania w ogrodzie</span></li>
	<li><span>Miejsce na ognisko</span></li>
	<li><span>Wygodne, drewniane meble ogrodowe z parasolem</span></li>
	<li><span>Hamak i leżaki do opalania</span></li>
	<li><span>Możliwość wynajęcia rowerów, wędrówki piesze.</span></li>
	<li><span>Dla dzieci: małe krzesełka, zabawki, ogrodzony teren do biegania i zabawy, a w sezonie owoce bez konserwantów.</span></li>
	<li><span>Zielone otoczenie domku i duża przestrzeń - do wyłącznej dyspozycji biegających dzieci, młodzieży i biesiadujących dorosłych.</span></li>
	<li><span>5 min pieszo do sklepu (Lidl i Biedronka)</span></li>
	<li><span>5 min pieszo do centrum miasta</span></li>
	</ul>
	<p><strong style=" background-color: transparent; line-height: 1.35em;">Dodatkowe informacje:</strong></p>
	<ul>
	<li><span>możliwy wynajem na dłuższy okres- atrakcyjne rabaty</span></li>
	<li><span>otoczenie łagodne dla alergików</span></li>
	<li><span>seniorzy – obiekt przystosowany</span></li>
	<li><span>dzieci mile widziane</span></li>
	<li><span>Możliwość wystawienia faktury (8%VAT)</span></li>
	<li><span>dom dla niepalących (dbamy, by pachniało tylko drewnem)</span></li>
	</ul>
	<p><strong style=" background-color: transparent; line-height: 1.35em;">Augustów zapewnia:</strong><span style=" background-color: transparent; line-height: 1.35em;"> wynajmowanie łodzi, kajaków, rowerów wodnych, jazdę konną, grę w golfa, narty wodne, wycieczki do Wilna, Druskiennik, spacery po Puszczy Augustowskiej, liczne szlaki piesze, rowerowe i kajakowe, spływy tratwą lub kajakiem, rejsy katamaranami i gondolami oraz statkiem pasażerskim, cykliczne imprezy.</span></p>
	<p align="center"><strong style=" line-height: 1.35em;"><em>Dzwoń, rezerwuj, czekamy na Ciebie!</em></strong></p>
	<img id="menu4-btn" src="/img/icon/btn.png" class="company-btn">
	<p align="center" style="opacity:.3;"><span></span>Tel.:<span><b>504&nbsp;123 644&nbsp;</b></span>E-mail:<span><b>Prawdzik@domekmlodosci.pl</b></span></p>
</div>