// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-container {
	border-radius: 2px;
	width: 496px;

	float: left;
	margin: 90px 0 100px 130px;

	padding: 33px;
	background: rgba(138, 178, 188, .03);
}

.gallery {
	border-radius: 2px;
	width: 280px;


	float: right;
	margin: 90px 57px 15px 0;

	padding: 33px;


	img {
		opacity: .9;

		padding: 5px;
		border: 1px solid #ccc;

		width: 100px;
		height: auto;

		margin: 5px 5px 5px 0;
		display: inline-block;
	}

	img:hover {
		cursor: pointer;
		opacity: 1;
	}
}

.modal-body > img {
	width: 568px;
}

.main-heading {
	color: rgb(218, 31, 61);
	text-align: center;

	margin-top: -65px;
	opacity: 1;
}

label {
	padding-top: 15px;
}

input.btn {
	width: 200px;
	margin-top: 15px !important;
}

.bar {
	width: 100%;
	position: fixed;
	bottom: 0;

	z-index: 1;

	img {
		position: absolute;
		bottom: 0;
		width:150px;
		z-index: 1;
		opacity: .4;
	}

	.a {
		left: 150px;
	}
	.b {
		left: 300px;
	}
	.c {
		right:0;
	}
	.d {
		right: 150px;
		bottom: -35px;
	}
	.e {
		right: 300px;
	}
}

@media (max-width: 1626px)
{
	.bar {
		display: none;
	}
}